/*
 Theme Name:   Resonar Child Theme
 Description:  Resonar Child Theme 
 Author:       Naja
 Author URI:   http://www.addspice.net
 Template:     resonar
 Version:      1.0.0
*/
 
@import url("../resonar/style.css");